---
layout: ""
page_title: "Provider: CitrixADM"
description: |-
  The CitrixADM provider allows you to manage Citrix ADM resources.
---

# CitrixADM Provider

The CitrixADM provider allows you to manage Citrix ADM resources.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
